<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <h1>Lista de clientes</h1>

  <%- include('partials/navBar') %>

  <ul>
    <% users.forEach(user => { %>
      <li> 
        <%= user.name %> - Idade <%= user.age %> - <%= user.email %> <a href="/edit?id=<%= user._id %>">[editar]</a>
      </li>
    <% }) %>
  </ul>
  
 
</body>
</html>